body, .container {
    margin: 0;
    padding: 0;
}

body {
    background-color: white;
}

.container {
    padding-top: 80px;
    padding-bottom: 80px;
    padding-left: 30% ;
    padding-right: 30%;
    border: 1px solid #ccc;
    background-color: transparent;
}

.background-wrapper {
    padding-bottom: 15px;
    background-color: #F2BB77;
    margin: -80px;
}

h1, h2 {
    display: block;
    border: solid;
    color: white;
    text-align: center;
    font-weight: bolds;
    border: 1px solid black;

}

h1 {
    background-color: #6F7302;
    padding: 15px 125px 15px 125px;
    font-size: 28px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

h2 {
    background-color: #BF4904;
    padding: 0px 80px 0px 80px ;
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.center-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.center-image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}